/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:1200px;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.header{
	border-top:5px solid #FC375E;
}
.header_wrapper{
	background:url(../images/header-top-bg.gif) repeat-x;
}
.logo{
	float:left;
	padding:10px 0;
	width:30%;
	padding-left:10px;
}
.menu{
	float:left;
	padding:57px 0;
	background:url(../images/menu-bg.png);
	margin-left:2px;
	font-family:'Duru Sans', sans-serif;
	width:69%;
}
.menu li{
	display:inline-block;
	float:left;	
}
.menu li a{
	font-size:13px;
	color:#818080;
	font-weight:bold;
	padding:59px 42px ;
	border-right:1px solid #FFF;
	font-family: 'Coda', cursive;
}
.menu li.active a{
	background:#FC375E;
}
.menu li:nth-child(6) a{
	border:none;
}
.menu li a:hover{
	color:#FFF;
	background:url(../images/menu-bg-hover.png);
}
.header_bottom{
	border-bottom:2px ridge #FC375E;
    padding-bottom: 1px;
    background:url(../images/menu-bg.png);
}
/***** slide show *****/
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
/*** Content ***/
.main{
	background:#FFF;
}
.main h2{
	font-size: 25px;
	color: #4B4B4B;
	font-family: 'Coda', cursive;
	text-transform: uppercase;
	padding:5px 0;
}
.content{
	padding:30px 0;
}
.content_top{
	padding-bottom:30px;
}
.grides{
	padding-top:20px;
}
.grid1{
	width: 70.6%; 
	float:left; 
}
.sub_grid1{
	float:left;
	width: 45.2%;
	border-bottom: 1px dotted #D6D5D5;
	padding: 10px;
}
.grid_img{
	float:left;
	width:42%;
}
.grid_data{
	float:left;
	width:53%;
	margin-left:5%;
}
.grid_data p{
	font-size: 14px;
	color: #6F6F6F;
	line-height: 1.6em;
	padding:10px 0
}
.grid_data p span{
	font-size:13px;
	color:#FC375E;
	cursor:pointer;
}
.sub_grid2{
	float:left;
	width: 45.2%;
	margin-left:5.6%;
	border-bottom: 1px dotted #D6D5D5;
	padding-bottom:10px;
}
.divider{
	padding:8px 0;
}
.grid2{
	width: 23.8%;
	float:left; 
	margin-left:5.6%;
}
.grid2 p{
	font-size: 14px;
	color: #6F6F6F;
	line-height: 1.6em;
	padding:10px 0;
}

.content_bottom{
	padding-top:30px;
}
.box{
	width: 20.8%;
	float:left; 
	margin-right:5.6%;
}
.box-last{
	width: 20.8%;
	float:left; 
	margin-right:0;
}
.box-heading{
	padding-bottom:25px;
	border-bottom:1px solid #CCC;
}
.box-heading h2{
	padding:0;
	margin-bottom:-5px;
}
.box-heading span{
	font-size:12px;
	font-style:italic;
	color:#888;
}
.box p,.box-last p{
	font-size: 12px;
	color: #6F6F6F;
	line-height: 1.8em;
	padding: 10px 0;
}
.more{
	padding-top:10px;
}
.more span a{
	padding:6px 10px;
	font-size:12px;
	color:#FFF;
	 	border            : 1px solid #FFF;
        background        : #e33d3d;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzAxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e33d3d 0%, #bc0100 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e33d3d), color-stop(100%,#bc0100));
        background        : -webkit-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        background        : -o-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        background        : -ms-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        background        : linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33d3d', endColorstr='#bc0100',GradientType=0 );
        box-shadow        : 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                            0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);  
        -moz-box-shadow   : 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                            0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);
	    -webkit-box-shadow: 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                            0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
        -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
        
}
.more span a:hover{
		border            : 1px solid #781413;
        background        : #c82120;
        filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c82120', endColorstr='#c82120');
        box-shadow        : 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                            0 0 0 1px #d45251 inset;
        -moz-box-shadow   : 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                            0 0 0 1px #d45251 inset;
	    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                            0 0 0 1px #d45251 inset;    
}
/*** Footer ***/
.footer{
	 background:url(../images/footer-bg.png);
	 margin-top:20px;
 }
  .footer h3{
	 font-size:18px;
	 color:#ACACAC;
	 margin:5px 0px 15px 0;
	 border-bottom: 1px dashed #131313;
	 padding-bottom:3px;
	 font-family: 'Coda', cursive;
 }
  .footer_grides{
	 border-bottom: 2px ridge #313131;
	 padding:10px 0;
 }
  .footer_grid1{
	  float:left;
	  width:23.5%;
	  padding-left:2%;
 }
  .footer_grid2{
	 float:left;
	 width:23.5%;
	 padding-left:2%;
 }
.address li {
	font-size: 13px;
	color:#4B4B4B;
	padding: 5px 0;
 }
 .footer_grid3{
	 float:left;
	 width:23.5%;
	 padding-left:2%;
 }
 .f_menu li{
	 display:block;
	 margin:8px 0;
 }
 .f_menu li a{
	color:#4B4B4B;
	font-size:13px;
 }
 .f_menu li a:hover{
	color:#696969;
 }
 .footer_grid4{
	float:left;
	width:23.5%;
	padding-left:2%;
 }
 .social-icons{
 	margin-bottom: 22px;
	margin-top: 25px;
 }
 .social-icons li{
 	list-style: none;
	margin-bottom:20px;
 }
 .social-icons ul li a.facebook span.icon {
	background: url(../images/social-icons.png) no-repeat 0 0;
 }
 .social-icons ul li a.facebook:hover span.icon{
 	background-position:0 -56px;
 }
 .social-icons ul li a.twitter span.icon{
 	background:url(../images/social-icons.png) no-repeat -55px 0;
 }
 .social-icons ul li a.twitter:hover span.icon{
 	background-position:-55px -56px;
 }
 .social-icons ul li a span.icon {
	display: inline-block;
	margin-right:8px;
	width: 55px;
	height: 56px;
	vertical-align: top;
}
.social-icons ul li a span.inner {
	display: inline-block;
	padding-top: 10px;
	line-height: 18px;
	color:#4B4B4B;
	font-size:13px;
}
.social-icons ul li a span.inner:hover {
	color:#696969;
}
.social-icons ul li a span.inner strong{
	font-size:15px;	
}
 .copy_right{
	text-align:center;
	padding:15px 0;
 }
 .copy_right p{
	font-size:12px;
	color:#696969;
 }
 .copy_right p a{
    color:#696969;
	font-size:12px;
	text-decoration:underline;
 }
 .copy_right p a:hover{
	color:#7E7E7E;
	text-decoration:none;
 }
 
/**** About ****/
.about-data{
	float:left;
	width:66.1%;
	margin-right:3.6%;
}
.about-img{
	float:left;
	width: 44.2%;
}
.about-img img{
	padding:3px;
	background:#FFF;
	border:1px solid #CCC;
	width:97%;
}
.about-desc{
	float:left;
	width: 54.2%;
	margin-left:1.6%;
}
.about-desc h4{
	font-size:14px;
	color:#FC375E;
	line-height:1.6em;
	font-weight:bold;
}
.about-data p{
	font-size: 12px;
	color: #999;
	line-height: 1.8em;
	padding:5px 0;
}
.sidebar{
	float:left;
	width: 30.2%;
}
.blog_posts {
	padding:10px 0 20px 0;
}
.blog_date {
	float: left;
	width:15%;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-o-border-radius:30px;
	background: #f72246; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f72246 0%, #f94062 45%, #f7274d 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f72246), color-stop(45%,#f94062), color-stop(100%,#f7274d)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f72246 0%,#f94062 45%,#f7274d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f72246 0%,#f94062 45%,#f7274d 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f72246 0%,#f94062 45%,#f7274d 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f72246 0%,#f94062 45%,#f7274d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f72246', endColorstr='#f7274d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	display: inline-block;
	text-align: center;
}
.blog_posts figure {
	font-weight: bold;
	font-size:10px;
	color: #FFF;
	text-align: center;
	padding:10px 0;
}
.blog_posts figure span {
	font-size:25px;
	line-height:25px;
	color: #FFF;
	display: block;
	margin-bottom: -3px;
}
.blog_desc {
	float: left;
	padding-left:2%;
	width:82%;
}
.blog_heading p span {
	color: #999999;
	font-size:14px;
	text-transform: uppercase;
}
.blog_heading p.date {
	font-size: 12px;
	color: #949494;
	padding-bottom: 5px;
}
p.date span.author{
	text-decoration:underline;
	cursor:pointer;
	font-size: 12px;
	text-transform:none;
}
.blog_desc p {
	font-size: 12px;
	color: #999;
	line-height: 1.8em;
}
/**** Services ****/
.boxes{
	margin:20px 0;
}
.boxes p{
	color: #999;
	font-size:12px;
	line-height:1.8em;
	margin-bottom:15px;
}

.box1{
	float:left;
	width:23.5%;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.box2{
	float:left;
	width:23.5%;
	margin:0 2%;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.box_desc{
	padding:15px;
}
.box_desc img{
	border: 1px solid #F1F1F1;
	display:block;
}
.service_desc p{
	color: #999;
	font-size:12px;
	line-height:1.6em;
}

/**** Contact  ****/
.feedback {
	padding-bottom: 25px;
	position: relative;
}
form label {
	font-size: 13px;
	color: #8F8F8F;
}
form input[type="text"],form input[type="email"],form input[type="password"],form input[type="date"],form input[type="time"], textarea {
	padding: 8px;
	font-size: 12px;
	margin-bottom: 15px;
	margin-top: 5px;
	display: block;
	width: 80%;
	background: none;
	border: 1px solid #d8d8d8;
	outline: none;
	color: #666147;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
	font-family: Arial, Helvetica, sans-serif;
}
textarea {
	resize: none;
	height: 130px;
}
form input[type="text"]:focus,form input[type="email"],form input[type="password"],form input[type="date"],form input[type="time"], textarea:focus {
	border: 1px solid #c4c2c2;
}
 form input[type="submit"] {
	 background:#FA2952;
     border: 1px solid rgba(0,0,0,0.15);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
     box-shadow: 
        inset 0 1px 0 rgba(0,0,0,0.1),
        inset 0 -1px 0 rgba(255,255,255,0.7);
    text-shadow: 0 1px rgba(255,255,255,0.7);
	cursor: pointer;
	font-size: 12px;
	padding:10px 20px;
	position: absolute;
	right: 140px;
	color: #FFF;
}
  form input[type="submit"]:hover {
	background:#FD3F64;
	 box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.5), 
        0 2px 2px rgba(0,0,0,0.3), 
        0 0 4px 1px rgba(0,0,0,0.2); 
}

/***** 404 ****/
.page-not-found{
	text-align:center;
	font-family:'Coda', cursive;
	color: #353434;
}
.page-not-found h4{	
	font-size:7em;
	text-shadow: 1px 1px 1px #FFF, 2px 2px 1px #888;
}
.page-not-found h3{
	font-size: 16.1em;
	text-shadow: 1px 1px 1px #FFF, 3px 2px 1px #888;
}

/**** Responsice Layout *****/
@media all and (max-width: 1024px) and (min-width: 800px) {
	.wrap {
		width: 760px; /* required */
		padding: 0 20px;
	}
	.logo {
		width:29%;
	}
  .menu li a {
	padding:59px 17px;
   }
   .content {
   	padding:20px 0;
   }
   .grid2 {
   	  width: 27.8%;
	  margin-left: 1.6%;
   }
  .grid_data  p{
 	padding:0;
 	line-height:1.5em;
 }
 .blog_date {
 	width:25%;
 }
 .blog_desc {
 	width:72%;
 	padding-left:3%;
 }
 .blog_posts figure span {
 	line-height:28px;
 }
 .boxes {
	margin: 20px 0;
 }
 .box_desc {
 	padding:10px;
 }
 .boxes p {
 	margin-bottom:5px;
 }
 .feedback form input[type="text"], .feedback textarea{
 	width:95%;
 }
 .feedback form input[type="submit"]{
 	right:5px;
 }
 .page-not-found h4{
    font-size:4em;
 }
  .page-not-found h3{
 	font-size:12em;
 }
}
@media all and (max-width:800px) and (min-width:640px){
	.wrap {
		width:600px; /* required */
		padding: 0 20px;
	}
	.logo {
		width:29%;
	}
	.menu {
		padding:50px 0;
	}
  .menu li a {
	padding:53px 9px;
	font-size:12px;
   }
   .content {
   	 padding:20px 0;
   }
   .grid1,.grid2{
		width:100%;
		float:inherit;
	}
	.grid2{
		margin:0;
	}
	.content_top{
		padding:0;
	}
	.content_bottom {
		padding-top:10px;
	}
	.main h2 {
		font-size:20px;
	}
	.box {
		width:22.8%;
		margin-right:2.6%;
	}
	.box-last {
		width:23.8%;
	}
	.box-heading {
		padding-bottom:10px;
	}
   .about-data {
		width: 60.1%;
	}
	.about-img,.about-desc{
		float:inherit;
		width:100%;
	}
	.sidebar {
		width:36.2%;
	}
  .grid_data  p{
 	padding:0;
 	line-height:1.5em;
 }
 .blog_date {
 	width:25%;
 }
 .blog_desc {
 	width:72%;
 	padding-left:3%;
 }
 .blog_posts figure span {
 	line-height:28px;
 }
 .boxes {
	margin: 20px 0;
 }
 .box_desc {
 	padding:10px;
 }
 .boxes p {
 	margin-bottom:5px;
 }
 .feedback form input[type="text"], .feedback textarea{
 	width:95%;
 }
 .feedback form input[type="submit"]{
 	right:5px;
 }
 .page-not-found h4{
    font-size:4em;
 }
  .page-not-found h3{
 	font-size:12em;
 }
}
@media all and (max-width:640px) and (min-width:480px){
	.wrap{
		width:450px;
		padding:0 15px;
	}
	.logo,.menu {
		width:100%;
		float:inherit;
	}
	.logo{
		text-align:center;
		padding:0;
	}
	.menu {
		padding:50px 0;
	}
  .menu li a {
	padding:53px 13px;
	font-size:13px;
	font-weight:normal;
   }
   .content {
   	 padding:10px 0;
   }
   .grid1,.grid2{
		width:100%;
		float:inherit;
	}
	.grid2{
		margin:0;
	}
	.grides {
		padding-top:5px;
	}
	.grid_data p {
		font-size:13px;
	}
	.grid_data p span {
		font-size:12px;
	}
	.content_top{
		padding:0;
	}
	.content_bottom {
		padding-top:10px;
	}
	.main h2 {
		font-size:20px;
	}
	.box,.box-last {
		width:100%;
		margin:0 0 5% 0;
	}
	.box-heading {
		padding-bottom:10px;
	}
	.more{
		padding-top:0;
	}
	.footer_grid1,.footer_grid2,.footer_grid3,.footer_grid4{
		float:inherit;
		width:100%;
		padding:0;
	}
	.footer_grid3{
		margin:15px 0;
	}
	.footer h3 {
		padding:5px 0 5px 0;
	 }
	.f_menu li {
		display: inline;
		margin:0 15px;
	}
	.social-icons li:first-child{
		margin-left:0;
	}
	.social-icons {
		margin-top:15px;
	}
	.social-icons li {
		display:inline;
		margin-left:20px;
	}
   .about-data,.sidebar {
   		float:inherit;
		width:100%;
	}
	.about-img, .about-desc {
		float:inherit;
		width:100%;
	}
	.about-data {
		margin-right:0;
	}
  .grid_data  p{
 	padding:0;
 	line-height:1.5em;
 }
 .blog_date {
 	width:13%;
 }
 .blog_desc {
 	width:84%;
 	padding-left:3%;
 }
 .blog_posts figure span {
 	line-height:28px;
 }
 .boxes {
	margin: 20px 0;
 }
 .box1,.box2 {
 	float:inherit;
 	width:100%;
 	margin:2% 0;
 }
 .box_desc img {
 	text-align:center;
 	display:inline-table;
 }
 .box_desc{
 	text-align:center;
 }
 .box2 {
 	margin:2% 0;
 }
 .box_desc {
 	padding:10px;
 }
 .boxes p {
 	margin-bottom:5px;
 }
 .feedback form input[type="text"], .feedback textarea{
 	width:95%;
 }
 .feedback form input[type="submit"]{
 	right:5px;
 }
 .page-not-found h4{
    font-size:4em;
 }
  .page-not-found h3{
 	font-size:12em;
 }
}
@media all and (max-width:480px) and (min-width:320px){
	.wrap{
		width:90%;
	}
	.logo,.menu {
		width:100%;
		float:inherit;
	}
	.logo{
		text-align:center;
		padding:0;
	}
	.menu {
		padding:50px 0;
	}
  .menu li a {
	padding:53px 11px;
	font-size:13px;
	font-weight:normal;
   }
   .content {
   	 padding:10px 0;
   }
   .grid1,.grid2{
		width:100%;
		float:inherit;
	}
	.grid2{
		margin:0;
	}
	.grides {
		padding-top:5px;
	}
	.grid_data p {
		font-size:13px;
	}
	.grid_data p span {
		font-size:12px;
	}
	.content_top{
		padding:0;
	}
	.content_bottom {
		padding-top:10px;
	}
	.main h2 {
		font-size:20px;
	}
	.box,.box-last {
		width:100%;
		margin:0 0 5% 0;
	}
	.box-heading {
		padding-bottom:10px;
	}
	.more{
		padding-top:0;
	}
	.footer_grid1,.footer_grid2,.footer_grid3,.footer_grid4{
		float:inherit;
		width:100%;
		padding:0;
	}
	.footer_grid3{
		margin:15px 0;
	}
	.footer h3 {
		padding:5px 0 5px 0;
	 }
	.f_menu li {
		display: inline;
		margin:0 12px;
	}
	.social-icons li:first-child{
		margin-left:0;
	}
	.social-icons {
		margin-top:15px;
	}
	.social-icons li {
		display:inline;
		margin-left:20px;
	}
   .about-data,.sidebar {
   		float:inherit;
		width:100%;
	}
	.about-img, .about-desc {
		float:inherit;
		width:100%;
	}
	.about-desc {
		margin-left:0; 
	}
	.about-data {
		margin-right:0;
	}
  .grid_data  p{
 	padding:0;
 	line-height:1.5em;
 }
 .blog_date {
 	width:13%;
 }
 .blog_desc {
 	width:84%;
 	padding-left:3%;
 }
 .blog_posts figure span {
 	line-height:28px;
 }
 .boxes {
	margin: 20px 0;
 }
 .box1,.box2 {
 	float:inherit;
 	width:100%;
 	margin:2% 0;
 }
 .box_desc img {
 	text-align:center;
 	display:inline-table;
 }
 .box_desc{
 	text-align:center;
 }
 .box2 {
 	margin:2% 0;
 }
 .box_desc {
 	padding:10px;
 }
 .boxes p {
 	margin-bottom:5px;
 }
 .feedback form input[type="text"], .feedback textarea{
 	width:95%;
 }
 .feedback form input[type="submit"]{
 	right:5px;
 }
 .page-not-found h4{
    font-size:4em;
 }
  .page-not-found h3{
 	font-size:12em;
 }
 
}
@media all and (max-width:320px) {
	.wrap{
		width:90%;
	}
	.logo,.menu {
		width:100%;
		float:inherit;
	}
	.logo{
		text-align:center;
		padding:0;
	}
	.menu {
		padding:35px 0;
	}
  .menu li a {
	padding:40px 4px;
	font-size:10px;
	font-weight:normal;
   }
   .grid_img,.grid_data {
   	float:inherit;
   	width:100%;
   	margin:0;
   }
   .content {
   	 padding:0px 0;
   }
   .grid1,.grid2{
		width:100%;
		float:inherit;
	}
	.grid2{
		margin:0;
	}
	.grides {
		padding-top:5px;
	}
	.grid_data p {
		font-size:13px;
	}
	.grid_data p span {
		font-size:12px;
	}
	.content_top{
		padding:0;
	}
	.content_bottom {
		padding-top:10px;
	}
	.main h2 {
		font-size:20px;
	}
	.box,.box-last {
		width:100%;
		margin:0 0 8% 0;
	}
	.box-heading {
		padding-bottom:10px;
	}
	.more{
		padding-top:0;
	}
	.footer_grid1,.footer_grid2,.footer_grid3,.footer_grid4{
		float:inherit;
		width:100%;
		padding:0;
	}
	.footer_grid3{
		margin:15px 0;
	}
	.footer h3 {
		padding:5px 0 5px 0;
	 }
	.f_menu li {
		display: inline;
		margin:0 1px;
	}
	.social-icons li:first-child{
		margin-left:0;
	}
	.social-icons {
		margin-top:15px;
	}
	.social-icons li {
		display:inline;
		margin-left:15px;
	}
   .about-data,.sidebar {
   		float:inherit;
		width:100%;
	}
	.about-img, .about-desc {
		float:inherit;
		width:100%;
	}
	.about-desc {
		margin-left:0; 
	}
	.about-data {
		margin-right:0;
	}
  .grid_data  p{
 	padding:0;
 	line-height:1.5em;
 }
 .blog_date {
 	width:20%;
 }
 .blog_desc {
 	width:77%;
 	padding-left:3%;
 }
 .blog_posts figure span {
 	line-height:28px;
 }
 .boxes {
	margin: 20px 0;
 }
 .box1,.box2 {
 	float:inherit;
 	width:100%;
 	margin:2% 0;
 }
 .box_desc img {
 	text-align:center;
 	display:inline-table;
 }
 .box_desc{
 	text-align:center;
 }
 .box2 {
 	margin:2% 0;
 }
 .box_desc {
 	padding:10px;
 }
 .boxes p {
 	margin-bottom:5px;
 }
 .feedback {
 	padding-bottom:40px;
 }
 .feedback form input[type="text"], .feedback textarea{
 	width:95%;
 	margin-bottom:10px;
 }
 .feedback form input[type="submit"]{
 	right:5px;
 	padding:8px 15px;
 }
 .page-not-found h4{
    font-size:3em;
 }
  .page-not-found h3{
 	font-size:8em;
 }
}